@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

.company-container {
    margin: 1%;
    padding: 1%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;
    width: 100%;
    overflow: hidden;
}


.company-card {
    margin: 1%;
    padding: 1%;
    width: 29.5vw;
    height: 40vh;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 10px 10px 40px #d9d9d9, -10px -10px 40px #ffffff;
    cursor:pointer;
}

    .company-card .card-details {
        height: 100%;
        border-radius: 10px;
        width: 100%;
        clip-path: circle(5% at 0% 0%);
        transition: clip-path .5s ease-in-out;
        font-size: medium;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
    }

    .company-card:hover .card-details {
        clip-path: circle(70%);
    }

    .company-card .card-details .detail-item {
        padding: 3em;
        text-align:center;
    }

.card-front {
    width: 29vw;
    height: 39vh;
    position: absolute;
    justify-content: center;
    align-content: center;
}

    .card-front .company-logo {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 23%;
        left: 38%;
        background-image: url('../Images/company.png');
        background-position: center;
        background-size: contain;
    }

    .card-front .company-title {
        position: absolute;
        height: 50px;
        top: 73%;
        left: 20%;
        right:20%;
        text-align:center;
        font-family:Poppins-SemiBold;
        font-size:large;
    }
