@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

body{
    margin:0px;
    padding:0px;
    background-color:#FFFFFF;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

footer{
    background-color:#353745;
    box-sizing:border-box;
}

.f-logo{
    color:#FFFFFF;
    font-family:'Bebas Neue';
    letter-spacing:2px;
    padding:5px 10px;
    font-size:25px;
}

.up-section ul, .dwn-section ul{
    font-family:Poppins;
    margin:0px;
    padding:0px 20px;
}

.up-section h1, .dwn-section h1 {
    color: #9697a0;
    font-size: 20px;
    font-family: Calibri;
}

.up-section ul li a, .dwn-section ul li a {
    font-size: 16px;
    color: #575a70;
}

.up-section ul li p, .dwn-section ul li p{
    font-size: 14px;
    color: #575a70;
    line-height: 10px;
}

.up-section, .dwn-section {
    display: flex;
    justify-content: space-between;
    padding:5%;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.up-section{
    border-bottom:1px solid #545562;
}

.social-icons a{
    width:35px;
    height:35px;
    background-color:#424356;
    box-shadow:2px 2px 12px rgba(0,0,0,0.1);
    display:flex;
    justify-content:center;
    align-items:center;
}

.social-icons{
    display:flex;
}

.search input{
    height:35px;
    width:200px;
    text-align:center;
    border:none;
    outline:none;
}

.social-icons i{
    color:#FFFFFF;
    font-size:14px
}

.copyright{
    font-family:Calibri;
    font-size:12px;
    color:#b3b3b3;
}

.up-section ui li a:hover, .dwn-section ul li a:hover{
    color:#9697a0;
}

.social-icons a:hover{
    background-color:#9a9ff6;
}

.social-icons a:hover i{
    color:#424356;
}