.dark-neumorphism {
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 8px 8px 42px #9e9e9e, -8px -8px 42px #ffffff;
}

.inner-neumorphism {
    border-radius: 15px;
    background: #ffffff;
    box-shadow: inset 5px 5px 42px #dbdbdb, inset -5px -5px 42px #ffffff;
}

.soft-inner {
    border-radius: 15px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 23px 23px 46px #dbdbdb, -23px -23px 46px #ffffff;
}

.round-corner-buttons {
    border-radius: 71px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 10px 10px 20px #a8a8a8, -10px -10px 20px #ffffff;
}

.menu-buttons {
    border-radius: 34px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 30px #9c9c9c, -5px -5px 30px #ffffff;
}